.blocoContato {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.blocoContato img {
    max-height: 500px;
    border-radius: 10px;
    /* margin-top: 1.5rem; */
}

.dadosContato {
    margin: 0 40px;
}

.dadosContato ul {
    margin-left: 0px;
    margin-top: 2rem;
    padding-left: 0px;
}

.dadosContato ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.dadosContato ul li::before {
    content: '';
    display: inline-block;
    align-items: top;
    width: 20px;
    height: 2px;
    background-color: #ddd;
    margin-right: 10px;
    margin-bottom: .3rem;
}

@media(max-width: 924px) {
    .blocoContato {
        display: block;
    }

    .blocoContato img {
        margin: 0 8rem;
    }

    .dadosContato {
        margin: 0 8rem;
    }

    .dadosContato ul li::before {
        display: none;
    }
}